{% extends 'layout/base.html' %}

{% block main_content %}
<form method="post" action="{% url 'userprofile:user_login' %}" id="login-form">
    <div class="form_settings">
    {% csrf_token %}

    {% if form.errors %}
    <ul class="errorlist">
        <li>We can't log you in. Please check your information</li>
    </ul>
    {% endif %}

    <label class="control-label requieredField" for="id_email">Email</label>
    {{ form.username }}{{ form.username.errors }}

    <label class="control-label requieredField" for="id_password">Password</label>
    {{ form.password }}{{ form.password.errors }}
    <button class="button-login" type="submit">Log in</button>
    <div>
        <a class="lost" href="{% url 'auth_password_reset' %}">Lost your password?</a>
    </div>

    </div>
</form>
{% endblock main_content %}