{% extends 'layout/base.html' %}

{% block main_content %}
<div class="registration_form">
    <form method="post" action="{% url 'registration_register' %}" id="registratios-form">
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}{{ form.username.errors }}
        <br />
        {{ form.email.label }}
        {{ form.email }}{{ form.email.errors }}
        <br />
        {{ form.password1.label }}
        {{ form.password1 }}{{ form.password1.errors }}
        <br />
        {{ form.password2.label }}
        {{ form.password2 }}{{ form.password2.errors }}
        <br />
        <button class="button-login" type="submit">Sign up</button>
    </form>
</div>
{% endblock main_content %}