{% extends "layout/base.html" %}
{% load humanize thumbnail crispy_forms_tags %}

{% block title %}Carrito{% endblock %}

{% block main_content %}

<ul class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
    <li class="active">Carrito</li>
</ul>
{% if cart_list %}
    <div class="row-fluid">
        <div class="span12">
        <h2 class="page-header">Shopping Cart</h2>
        <div class="sidebar-line"><span></span></div>
            <table class="cart_content table wishlist table-hover table-bordered">
              <thead>
               <tr>
                  <th class="span2">Image</th>
                  <th class="span3">Product Name</th>
                  <th class="span1">Quantity</th>
                  <th class="span3">Price</th>
                  <th class="span2">Subtotal</th>
                  <th class="span2">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart_list %}
                <tr data-product="{{ item.product.id }}" data-price="{{ item.product.price }}">
                <td class="image"><a href="{{ item.product.get_absolute_url }}">
                    <img title="{{ item.product.name }}" alt="{{ item.product.name }}" src="{{ item.product.image|thumbnail_url:'avatar_140' }}" width="100"></a>
                </td>
                <td class="product">
                    <a href="{{ item.product.get_absolute_url }}" title="{{ item.product.name }}">{{ item.product.name }}</a>
                </td>
                  <td class="stock">
                    <select class="quantity" >
                        {% for quantity in item.item_quantity %}
                        <option value="{{ quantity }}" {% ifequal quantity item.amount %}selected{% endifequal %}>{{ quantity }}</option>
                        {% endfor %}
                    </select>
                  </td>
                  <td class="price"><b>${{ item.product.price|intcomma }}</b></td>
                <td class="subtotal price"><b>${{ item.subtotal|intcomma }}</b></td>
                <td><a href="#" class="remove">X</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

        <div class="right">
            <table class="cart_summary table wishlist table-hover table-bordered">
                <tbody>
                    <tr>
                        <th>Subtotal:</th>
                        <th>Envío:</th>
                        <th>Total:</th>
                    </tr>
                    <tr>
                        <td class="cart_total"></td>
                        <td>GRATIS!</dd>
                        <td class="cart_total"></td>
                    </tr>
                </tbody>
            </table>
            <a href="#" id="cleanCart" class="btn btn-primary btn-general"><span>Vaciar carrito</span></a>
        </div>
        <div class="accordion" id="checkout">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#checkout" href="#collapseOne">
                Danos más información.
            </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                {% crispy form %}
                </div>
              </div>
            </div>
        </div>



        </div>
        {% else %}
        <p>Agrega algún producto para realizar una compra</p>
        {% endif %}
    </div>        
    </div>
</div>
{% endblock %}
</div>
</div>
    <div id="checkout">
        <h4><span>Checkout</span></h4>

{% block js %}
<script>
function formatNumber(num,dec,thou,pnt,curr1,curr2,n1,n2) {
    var x = Math.round(num * Math.pow(10,dec));
    if (x >= 0) { n1=n2=''; }
    var y = (''+Math.abs(x)).split('');
    var z = y.length - dec;
    if (z<0) { z--; }
    for(var i = z; i < 0; i++) { y.unshift('0'); }
    if (z<0) { z = 1; }
    y.splice(z, 0, pnt);
    if(y[0] == pnt) { y.unshift('0'); }
    while (z > 3) { z-=3; y.splice(z,0,thou); }
    var r = curr1+n1+y.join('')+n2+curr2;
    return r;
}

function update_cart_totals() {
    total = 0
    $('.cart_content .quantity').each(function () {
        total += Number($(this).val()) * Number($(this).parentsUntil('tr').parent().attr('data-price'));
    });
    if (!isNaN(total) && total >= 0) {
        $('.cart_summary .cart_total').html(formatNumber(total ,0,'.','','$','','-',''));
    }

    return total;
}

$(function() {
    update_cart_totals();

    $('#cleanCart').click(function(e) {
        $.cookie('djangocart', null, { path: '/', expires: -1 });
        location.href = location.href;
        return false;
    });

    $('.cart_content .remove').click(function() {
        if (confirm("Esta seguro de eliminar este articulo?")) {
            // Entontramos el id del elemento a eliminar
            var product_id = $(this).parentsUntil('tr').parent().attr('data-product');

            // Quitamos el elemento del array
            var cart_list = $.cookie('djangocart').split(',');
            cart_list = $.grep(cart_list, function(value) {
                return value.split('_')[1] != product_id;
            });

            save_cart(cart_list);
            if (cart_list.length === 0) {
                location.href = location.href;
            }

            $('#cart_count').html(cart_list.lenght);
            $(this).parentsUntil('tr').parent().remove();
            update_cart_totals();
        }

        return false;
    });

    $('.cart_content .quantity').change(function () {
        var amount = $(this).val();
        var price = $(this).parentsUntil('tr').parent().attr('data-price');
        var subtotal = Number(amount) * Number(price);
        if (!isNaN(subtotal) && subtotal > 0) {
            $(this).parentsUntil('tr').parent().find('.subtotal').html(formatNumber(subtotal ,0,'.','','$','','-',''));
        }
        add_to_cart($(this).closest('tr').data('product'),price, $(this).val())
        update_cart_totals();
    }).blur(function () {
        var amount = $(this).val();
        if (amount === '' || isNaN(amount) || amount <= 0) {
            $(this).val('1').trigger('keyup');
        }

        update_cart_totals();
    });

});
</script>
{% endblock js %}
