{% load staticfiles %}
<!DOCTYPE html>
<!-- saved from url http://www.bootstraptor.com ####################################################################
Don't remove this attribution. 
This template build on DevKit http://www.bootstraptor.com 
under GPL license 
##########################################################################
-->
<html lang="en">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Django store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.mCustomScrollbar.css' %}" rel="stylesheet">

<!-- GOOGLE FONT-->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700italic,700,500&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<!-- /GOOGLE FONT-->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"> 
<link href="{% static 'css/style.css' %}" rel="stylesheet"> 
<!-- USE PREFIX fa- e.g (<i class="fa-icon-home"></i> -->

<!--[if lt IE 7]>
	<link href="{% static 'css/font-awesome-ie7.min.css' %}" rel="stylesheet">
	<![endif]-->
    <!-- Fav and touch icons -->


<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">

  <body>


 <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">        
          <div class="nav-collapse collapse">
			<div class="pull-right">
				{% if user.is_authenticated %}
				{# <a class="btn btn-mini" style="margin:10px 5px 5px 10px;" href="{% url 'userprofile:dashboard' %}">Dashboard</a> #}
				<a class="btn btn-mini" style="margin:10px 10px 5px 0px;" href="{% url 'auth_logout' %}">Cerrar sesión</a>
				{% else %}
				{# <a class="btn btn-mini" style="margin:10px 5px 5px 10px;" href="{% url 'userprofile:user_login' %}">Iniciar sesión</a> #}
				{# <a class="btn btn-mini" style="margin:10px 10px 5px 0px;" href="{% url 'registration_register' %}">Registrarse</a> #}
				{% endif %}
			</div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- PAGE-HEADER-->
      <div class="page-header">
		<div class="container">
			<div class="row-fluid">
				<div class="span3">
					<h1><a class="brand" href="#">Django store</a></h1>
				</div>
				<div class="span9">
					<div class="row-fluid">
						<div class="span8 text-center">
							<div style="padding-top:20px;">
								<form class="form-search">
								  <div class="input-append">
									<input type="text" class="span12 search-query">
									<button type="submit" class="btn">Search</button>
								  </div>
								</form>
							</div>
						</div>
						<div class="span4">
							<p class="text-right" style="padding-top:20px;">
								{# <a href="{% url 'cart:cart_detail' %}">Items (<span id="cart_count">0</span>) | Carrito: $<span id="cart_cash"></span></a> #}
							</p>
						</div>
				</div>
			</div>
      </div>
<!-- PAGE-HEADER-->
</div>
</div>

<!-- MAIN CONTAINER-->
<div class="container">
	<div class="row-fluid">
	<!-- LEFT SIDE CATEGORIES-->   
	<div class="span3">
	{% block left_side %}     
		<div class="well" >
		</div>	
	{% endblock left_side %}     
	</div>
	<!-- /left SIDE--> 
	
		<!-- CONTENT SIDE-->
	<div class="span9">
		{% block main_content %}
		{% endblock main_content %}		
	</div>
<!-- /CONTENT SIDE-->
	
</div>


<!-- FOOTER-->
<footer class="row-fluid">
	{% block footer %}
    <div class="span3">
    </div>
  
	<div class="span12">
		<hr>
	    <p>Mi tienda :D 2013</p>
	</div>
	  
	{% endblock footer %}
</footer>
<!-- /Footer-->

 
</div> <!-- /container -->
<!--/ CONTENT -->
    <!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block js%}
	{% endblock js%}
</body>
</html>