{% extends 'layout/base.html' %}
{% load thumbnail %}

{% block main_content %}

<ul class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a> <span class="divider">/</span></li>
    <li class="active">{{ store.name }}</li>
</ul>
<h2 class="page-header"><span>Productos ofrecidos por {{ store.name }}</span></h2>
<div class="sidebar-line"><span></span></div>                        
<div class="row-fluid container-folio">
{% if products_list %}
{% for product in products_list %}
<div class="span4">
    <div class="thumbnail">
        <a href="{{ product.get_absolute_url }}">
            <img src="{{ product.image|thumbnail_url:'avatar_273' }}" alt="{{ product.name }}" />
        </a>
        <div class="caption">
        <h3>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        </h3>
        <p>
        {{ product.description }}
        </p>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
    Aún no has agregado productos.
</div>
{% endif %}
{% endblock main_content %}
{% block left_side %}
<div class="well">
<h2 class="widget-title"><span>{{ store.name }}</span></h2>
<div class="sidebar-line"><span></span></div>
<img src="{{ store.logo|thumbnail_url:'avatar_140' }}" alt="{{ store.name }}" />
    <br>
    {{ store.description }}
    <br>
    {{ store.phone }}
    <br>
    {{ store.address }}
{% if user.is_authenticated %}
{% if store.created_by == user %}
<p>
<a href="{% url 'store:store-update' slug %}" class="btn btn-primary">Actualizar informacion de tienda</a>
<a href="{% url 'store:product-create' slug %}" class="btn btn-primary">Agregar nuevo producto</a>
</p>
{% endif %}
{% endif %}
</div>
{% endblock left_side %}